.card{
    border-radius: 8px;
    overflow: hidden;
    width: 260px;
    height: 450px;
    display: inline-block;
    background-color: #ffffff;
    justify-content: center;
    margin: 45px;
    padding: 30px;
    margin-left: 60px;
   
  }
 .card:hover{
    background-color: #ffffff;
    transform: scale(1.1);
     
  }
  

.card_title {
    padding: 1px;
   text-align: center;
  }
  

  .card_image{
    height: 130px;
    width: 210px;
    border-radius: 10px 10px 10px 10px;
  }



  
  