/* Card.css */

.card {
    position: relative;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    transition: box-shadow 0.3s ease;
  }
  
  .card:hover,
  .hovered {
    box-shadow: 0px 0px 10px 0px #888888;
  }
  
  .card img {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  
  .card-content {
    text-align: center;
    margin-bottom: 10px;
  }
  
  