.contact-container {
    display: flex;
    width: 60vw;
    border-top: 15px solid #184109;
    margin: 44px;
    max-width: 60vw;
    margin-left: 10vw;
    margin-right: auto;

}

.contact-heading {
    font-size: 3vw;
    margin-top: 1.5vw;
    margin-bottom: 1.5vw;
    font-family: sans-serif;
}

.contact-subheading {
    font-family: sans-serif;
    font-size: 1.5vw;
    font-weight: bold;
}

.contact-content {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    text-align: left;

}

.contact-content1,
.contact-content2 {
    display: flex;
    flex-direction: column;
    font-size: 1.5vw;
    text-align: left;
    width: 50%;

}

#Query {
    font-size: 1.5vw;
}

textarea {
    width: 50vw;
}

.contact-input-box {
    width: 70%;
    margin-top: 2vh;
    margin-bottom: 2vh;

    ;
}

.button-contact-container {
    text-align: left;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.contact-submitButton {
    background: #DEA30ED6;
    border: none;
    border-radius: 15px;
    font-size: 3vh;
    padding: 2vh;
    font-weight: bold;
}

.contact-container input {
    border: none;
    background-color: #EDECEC;
    border-radius: 15px;
    height: 5vh;
    width: 100%;
    padding-left: 2vh;
}

.contact-submitButton:hover {
    background: #f7b205;
    scale: 1.1;
    transition: 1ms;
    cursor: pointer;
}



/* Media Query for Tablets and Phones */
@media screen and (max-width: 767px) {
    .contact-heading {
        font-size: 28px;
    }

    .contact-subheading {
        font-size: 18px;
    }

    .contact-container {
        width: 90%;
        max-width: 400px;
    }

    .contact-subheading,
    #FAddress,
    #PhoneNumber,
    #Fname,
    #Query,
    #Landmark,
    #Adhar,
    #Email {
        font-size: 14px;
    }

    .contact-container {
        display: flex;
        flex-direction: column;
        width: 90%;
        max-width: 500px;
        margin: 20px auto;
        padding: 20px;
        border: 2px solid #184109;
        border-radius: 15px;
    }

    .contact-heading {
        font-size: 24px;
        margin: 10px 0;
        text-align: center;
    }

    .contact-subheading {
        font-size: 14px;
        font-weight: bold;
        text-align: center;
    }

    .contact-content {
        display: flex;
        flex-direction: column;
    }

    .contact-content1,
    .contact-content2 {
        width: 100%;
    }

    .contact-input-box {
        margin-bottom: 20px;
    }

    .contact-container input,
    .contact-container textarea {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 8px;
        box-sizing: border-box;
        font-size: 14px;
    }

    .button-contact-container {
        text-align: center;
    }

    .contact-submitButton {
        background: #DEA30ED6;
        border: none;
        border-radius: 15px;
        font-size: 18px;
        padding: 12px 20px;
        font-weight: bold;
        cursor: pointer;
    }
}

/* Media Query for Smaller Phones */
@media screen and (max-width: 480px) {
    .contact-heading {
        font-size: 24px;
    }

    .contact-subheading {
        font-size: 14px;
    }

    .contact-container {
        padding: 10px;
    }

    .contact-submitButton {
        font-size: 16px;
    }

    #FAddress,
    #PhoneNumber,
    #Fname,
    #Query,
    #Landmark,
    #Adhar,
    #Email {
        font-size: 14px;
    }
}