.imag {
  position: relative;
  width: 100%;
}

.imag img {
  display: block;
  width: 100%;
  height: auto;
}

.dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.text {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  z-index: 2;
}
footer {
  padding-top: 1px;
}
.text1{
  text-align: center;
  font-size: large;
}
.cardhome-css{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5em;
  text-align: center;
  justify-content: center;
  z-index: 2;
  position: relative;
  top: -3em;
}
.cardhome-css >*image{
  width: 100%;
  height: 90px;
  object-fit: cover;

}
.cardhome-css div{
  height: 15em;
}
.card1-css{
  z-index: 2;
  padding: 30px;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: #000;
}
.about_home{
  padding: 10px;
}
#about-h{
  font-family: sans-serif;
  font-size: 40px;
  text-shadow: 3px 3px 4px rgba(9, 67, 23, 0.411);;
  color: #064a0e;
  text-align: center;
}
.about-all{
  display: flex;
  justify-content: space-between;
}
.about-pleft{
  display: flex;
  flex-direction: column;
  padding-left: 60px;
}
.about-pright{
  display: flex;
  flex-direction: column;
  padding-right: 60px;
}
.about-mid{
  position: relative;
  
}
#about-p1{
 text-align:center ;
 font-family: sans-serif;
 color: #fff;
  width: 80%;
  height: 260px;
  padding-top: 3%;
  padding-bottom: 80%; 
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  margin-left: 60px;
  background-color: #064a0e;
}
#about-p2{
  z-index: 1;
  text-align: center;
  color: #fff;
  transform: translateX(-1%);
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}
#about_image{
  width: 100%;
  height: 50%;
  z-index: 2;
  transform: translate(1.5%, -50%);
 margin-top: 335px;
}
.card1-css{
  gap: 50px
}


.Home-Button{
display: inline-block;
outline: none;
cursor: pointer;
font-size: 14px;
line-height: 1;
border-radius: 500px;
transition-property: background-color,border-color,color,box-shadow,filter;
transition-duration: .3s;
border: 1px solid transparent;
letter-spacing: 2px;
min-width: 160px;
text-transform: uppercase;
white-space: normal;
font-weight: 700;
text-align: center;
padding: 17px 48px;
color: #fff;
background-color: #1ED760;
height: 48px;
:hover{
    transform: scale(1.04);
    background-color: #21e065;
}
}