.imag {
  position: relative;
  width: 100%;
}

.imag img {
  display: block;
  width: 100%;
  height: auto;
}

.dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.text {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  z-index: 2;
}

.cardhome-css {
  position: absolute;
  top: 350px;
  z-index: 2;
 
  display: flex;
  height: 350px; 
  margin: 20px; 
  gap: 200px;
  text-align: center;
  justify-content: space-between;
  font-family: sans-serif;
  width: 1200px; /* Adjust the width here */
}

.cardhome-css > * {
  flex: 0 0 auto;
  width: 500px; 
  height: 300px; 
  margin-right: 70px; 
}

.cardhome-css > *:last-child {
  margin-right: 0; 
}

.cardhome-css > * .card_im{
  width: 100%;
  height: 78%;
  border-radius: 0px 0px 8px 8px;
}

/* Adjust the footer */
footer {
  padding-top: 500px;
}
.text1{
  text-align: center;
  font-size: large;
  padding-top: 220px;
}
.card1-css{
  z-index: 2;
  padding: 30px;
  justify-content: space-between;
  display: flex;
  align-items: center;
  color: #000;
}
