.imag {
  position: relative;
  width: 100%;
}

.imag img {
  display: block;
  width: 100%;
  height: auto;
}

.dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.text {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  z-index: 2;
}

footer {
  padding-top: 1px;
}

.text1 {
  text-align: center;
  font-size: large;
}

.cardhome-css {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5em;
  text-align: center;
  justify-content: center;
  z-index: 2;
  position: relative;
  top: -3em;
}

.cardhome-css>*image {
  width: 100%;
  height: 90px;
  object-fit: cover;

}

.cardhome-css div {
  height: 15em;
}

.card1-css {
  z-index: 2;
  padding: 30px;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: #000;
}

.about_home {
  display: flex;
  justify-content: space-around;
  margin: 2em 2em 0 2em;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.about-left {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../assets/photo4.png);
  background-size: cover;
}

.about-h {
  color: white;
  text-shadow: 2px 2px 30px white;
  font-size: 5em;
  font-weight: normal;
}

.about-right {
  width: 50%;
}

.about-right p {
  text-align: center;
  font-size: 1.5em;
  margin: 2em;
}

.about-img {
  text-align: right;
  margin-right: -2em;
}

.card1-css {
  gap: 50px
}


.Home-Button {
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  line-height: 1;
  border-radius: 500px;
  transition-property: background-color, border-color, color, box-shadow, filter;
  transition-duration: .3s;
  border: 1px solid transparent;
  letter-spacing: 2px;
  min-width: 160px;
  text-transform: uppercase;
  white-space: normal;
  font-weight: 700;
  text-align: center;
  padding: 17px 48px;
  color: #fff;
  background-color: #1ED760;
  height: 48px;

  :hover {
    transform: scale(1.04);
    background-color: #21e065;
  }
}

@media (max-width:1000px) {
  .about_home {
    flex-direction: column;
    justify-content: center;
  }
  .about-left{
    /* background: none; */
    width: auto;
  }
  .about-h{
    color: #000;
    font-size: 3em;
  }
  .about-right{
    width: auto;
  }
}