/* Original styles */

/* .Header { */
/* Your existing styles */
/* } */

/* .Child-Nav { */
/* Your existing styles */
/* } */

/* Responsive styles */

@media screen and (max-width: 768px) {
  .Child-Nav {
    flex-direction: column;
    align-items: center;
  }

  .nm1 {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    position: absolute;
    top: 70px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nm1.active {
    left: 0;
  }

  .nm1 a {
    padding: 15px;
    width: 100%;
    display: table;
  }

  .icon {
    display: none;
  }
}

/* ------- Below by vaibhav ----------------------*/
/* Nav.css */

body {
  margin: 0;

}

.navbar {
  background-color: #184109;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
}

.logos {
  display: flex;
  align-items: center;
}

.logos img {
  height: 50px;
  width: 55px;
}

.weather-info {
  margin-left: 20px;
  display: flex;
  align-items: center;
}

.weather-icon {
  height: 20px;
  width: 30px;
}

.right-nav {
  display: flex;
  align-items: center;
  z-index: 99;
}

.right-nav .mobile-menu-button {
  display: none;
  background: none;
  border: none;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
}

.menu {
  display: flex;
  align-items: center;
}

.right-nav .menu a {
  text-decoration: none;
  color: #fff;
  margin: 0 2em;
  padding: 2px;
  /* border-radius: 20px; */
}

.right-nav .menu :hover {
  transform: scale(1.2);
  transition: 0.3s;
  border-bottom: 1px solid #efcc2d;
}

.menu-opt-hr {
  display: none;
}

/* Button */
.btnComp {
  display: inline-block;
  background-color: #efcc2d;
  text-decoration: none;
  margin: 0 1em;
  padding: 10px 20px;
  border: none;
  border-radius: 17px;
  color: black;
}

/* .btnComp,
.out {
  margin-left: 4px;
} */

/* Hover  */
.btnComp:hover {
  background-color: #162527;
  color: gold;
  cursor: pointer;
  transition: 0.4s;
  transform: scale(1.07);
}

.right-nav .menu.open {
  display: contents;
}

/*------------ Responsiveness - Media query --------- */
@media (max-width: 940px) {
  .right-nav .mobile-menu-button {
    display: flex;
    font-size: 25px;
    z-index: 1;
  }

  .weather-info {
    display: none;
  }

  /* for closed dropdown */
  .right-nav .menu {
    display: none;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 15em;
    background-color: #7cac3d;
    padding: 50px 0px;
    border-radius: 0 0px 50px 50px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  }

  .right-nav .menu.open {
    display: flex;
    animation: slideIn 0.5s cubic-bezier(0.3, 1, 0.32, 1) forwards;
  }

  .menu-opt-hr {
    display: block;
  }

  @keyframes slideIn {
    from {
      transform: translateX(-100%);
    }

    to {
      transform: translateX(0);
    }
  }

  .menu-opt-hr {
    width: 80%;
    margin: 20px;
    border: 1px solid rgba(255, 217, 0, 0.228);
  }

}

/* Added V */
.currUser {
  color: rgb(255, 255, 255);
  font-weight: 500;
  font-family: sans-serif;
  padding-left: 1vw;
}

.currUser:hover {
  transform: none;
  outline: none;
  border: none;
}