.title {
  text-align: center;

}

.select-container {
  display: inline-block;
  padding: 10px;
}

label {
  margin-right: 8px;
  font-weight: bold;
}

select {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 40px;
  min-width: 200px;

}

.container {
  text-align: center;

}

.filtered-records-container {
  margin: 20px auto;
  width: 70%;
}

#records-table {
  width: 100%;
  border-collapse: collapse;
}

#records-table th,
#records-table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

#records-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

#records-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.not-found {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  color: #888;
}

